.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col {
    flex-basis: 50%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.col img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h1,
h2 {
    margin: 10px 0;
    text-align: center;
}